Repository mruby/mruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-rake-docs, prettier

Path conditions:
  generate-rake-docs: any of: \.rake$, but not: ^tools/lrama/
  prettier: any of: \.(json|md|ya?ml)$, but not: ^tools/lrama/

more robust implementation of Hash#[] checks
  include/mruby/internal.h
  src/hash.c
  src/vm.c
Due: none

mruby-array-ext: use mrb_ensure() instead of direct throw.h calls
  mrbgems/mruby-array-ext/mrbgem.rake
  mrbgems/mruby-array-ext/src/array.c
Due: generate-rake-docs

string.c: guard memcmp() call to avoid undefined behavior with NULL pointers
  src/string.c
Due: none

string.c: simplify memcmp guard with ternary operator
  src/string.c
Due: none

bigint.c: handle in-place operation in mpz_mod_2exp()
  mrbgems/mruby-bigint/core/bigint.c
Due: none

bigint.c: increase karatsuba scratch allocation safety margin
  mrbgems/mruby-bigint/core/bigint.c
Due: none

mruby-time: normalize microseconds before converting to nanoseconds
  mrbgems/mruby-time/src/time.c
Due: none

mruby-bigint: fix memory leak in mpz_mod_2exp by clearing before reinit
  mrbgems/mruby-bigint/core/bigint.c
Due: none

proc.c: fix Method#== for aliased methods and comparison bug; fix #6668
  src/proc.c
Due: none

mruby-benchmark: fix implementation for mruby environment
  mrbgems/mruby-benchmark/mrbgem.rake
  mrbgems/mruby-benchmark/mrblib/benchmark.rb
Due: generate-rake-docs

TODO.md: update version to 3.4
  TODO.md
Due: prettier

vm.c: extract alias resolution logic to MRB_PROC_RESOLVE_ALIAS macro
  src/vm.c
Due: none

mruby-benchmark: add benchmarking gem
  mrbgems/mruby-benchmark/README.md
  mrbgems/mruby-benchmark/mrbgem.rake
  mrbgems/mruby-benchmark/mrblib/benchmark.rb
Due: generate-rake-docs, prettier

TODO.md: remove completed variable sized AST node item
  TODO.md
Due: prettier

TODO.md: add performance, tooling, and embedded features
  TODO.md
Due: prettier

TODO.md: add pattern matching to future work
  TODO.md
Due: prettier

TODO.md: update profiler/benchmarking entry
  TODO.md
Due: prettier

mruby-benchmark: add comprehensive test suite
  mrbgems/mruby-benchmark/test/benchmark.rb
Due: none

limitation.md: document current pattern matching limitations; close #6674
  doc/limitations.md
Due: prettier

AUTHORS: update entries [ci skip]
  AUTHORS
Due: none

docs: add all workflow buttons with status to README
  README.md
Due: prettier

gha: run pre-commit with `--color=always`
  .github/workflows/lint.yml
Due: prettier

Put ls-lint and pre-commit in separate workflow files
  .github/workflows/ls-lint.yml
  .github/workflows/pre-commit.yml
Due: prettier

README: Add Contributors Avatars, Star History, Table of Contents
  README.md
Due: prettier

pre-commit autoupdate; update node and prettier
  .pre-commit-config.yaml
Due: prettier

Fix markdown-link-check ignore 2 URL patterns
  .github/linters/mlc_config.json
Due: prettier

Add Cosmopolitan Libc build configuration
  build_config/cosmopolitan.rb
Due: none

mruby-bin-mirb: add MRUBY_MIRB_READLINE to control readline library selection
  mrbgems/mruby-bin-mirb/mrbgem.rake
Due: generate-rake-docs

mruby-bin-mirb: add tab completion support
  mrbgems/mruby-bin-mirb/tools/mirb/mirb.c
  mrbgems/mruby-bin-mirb/tools/mirb/mirb_completion.c
  mrbgems/mruby-bin-mirb/tools/mirb/mirb_completion.h
Due: none

mruby-bin-mirb: restrict evaluation to simple receivers
  mrbgems/mruby-bin-mirb/tools/mirb/mirb_completion.c
  mrbgems/mruby-bin-mirb/tools/mirb/mirb_completion.h
Due: none

mruby-bin-mirb: add line numbers to multi-line prompts
  mrbgems/mruby-bin-mirb/tools/mirb/mirb.c
Due: none

mirb: show method context for errors from previous code
  mrbgems/mruby-bin-mirb/tools/mirb/mirb.c
Due: none

mruby-bin-mirb: enhanced syntax error display
  mrbgems/mruby-bin-mirb/tools/mirb/mirb.c
Due: none

mruby-enumerator: add parentheses to to_enum calls
  mrbgems/mruby-enumerator/mrblib/enumerator.rb
Due: none

mruby-enum-ext: add parentheses to to_enum calls
  mrbgems/mruby-enum-ext/mrblib/enum.rb
Due: none

mruby-enum-chain: add parentheses to to_enum call
  mrbgems/mruby-enum-chain/mrblib/chain.rb
Due: none

mruby-io: add parentheses to to_enum call
  mrbgems/mruby-io/mrblib/io.rb
Due: none

mruby-hash-ext: add parentheses to to_enum calls
  mrbgems/mruby-hash-ext/mrblib/hash.rb
Due: none

mrblib: add parentheses to method calls with used return values
  mrblib/10error.rb
  mrblib/array.rb
  mrblib/enum.rb
  mrblib/hash.rb
  mrblib/kernel.rb
  mrblib/numeric.rb
  mrblib/range.rb
Due: none

mruby-array-ext: add parentheses to to_enum calls
  mrbgems/mruby-array-ext/mrblib/array.rb
Due: none
